---
layout: default
title: My Stats
---

{% include /index/header.html %}

{% for block in site.data.skills %}
  <div class='stats_block'>
    <div class='stats_bar'><h5 class='stats_h'>{{ block.name }}</h5></div>
    <section class='stats_section'>
      {% include /index/table.html %}
    </section>
  </div>
{% endfor %}

<div class='stats_block'> 
  <div class='stats_bar'><h5 class='stats_h'>character description</h5></div>
  <section class='stats_section'>
    {% include /index/description.html %}
  </section>
</div>
