@import "variables";
@import "table";

* {
  box-sizing: border-box;
  border: 0px;
  border-style: ridge;
  margin: 0px;
  padding: 0px;

  color: $color_normal;
  font-family: 'Pelagiad', 'Times New Roman', serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}
html, body {width: 100%; height: 100%; background-color: $background_html;}
body {
  display: flex;
  justify-content: center;

  background-image: url("/assets/images/error/sad_Ya-chan.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  background-attachment: fixed;
}
@media (min-width: 500px) {body {background-position: center;}}
@media (max-width: 499px) {body {background-position: center 30%;}}

#error_block {
  margin-top: 18%;
  width:fit-content;
  white-space: nowrap;
}
#error_404 {
  color: $color_health;
  font-size: 40px;
  text-align: center;
  line-height: 30px;
}
div.stats_section {background-color: black;}
