<p>Hello Internet! I'm Kita, a beginner programmer from Russia.<br>
I like animals, pretty pictures, postmodernity and trams. I want to have many friends, to know everything, to be able to do everything and to watch all the anime!</p>
<br>
<p>I don't have special education in programming, I just got interested in it in 2020. And I liked it so much that I decided to leave everything and make programming my life's work! I've begun to self learn regularly, while also practicing in English.<br>
My goal is to find my first job during 2022.</p>
<br>
<p>It wasn't difficult for me to write the front-end for this site. But this task feels boring, so I'm targeting a back-end. You can see my code in my <a class='answer' href="{{ site.data.links.GH-MAIN }}">main GitHub repository</a>.<br>
I dream to learn maths and economics and become a Data Scientist one day :)</p>
<br>
<p>Want to find more friends! Because of health problems, I've been living a closed and lonely lifestyle for many years already. I've got high social anxiety and communication problems. I would be happy to talk with you about programming, anime, tell you about Russia if you're a foreigner and listen to you!</p>
