<header id='index_header'>

  <figure id='index_photos'>
    <img src="/assets/images/index/photo_1.jpg" alt="my photo 1">
    <img src="/assets/images/index/photo_2.jpg" alt="my photo 2">
  </figure>

  <secrion id='focus_block'>
    <div id='focus_rectangle'>
      <figure id='focus_gearwheels'>
        <img src="/assets/images/index/gearwheels.gif" alt="gearwheels">
      </figure>

      <figure id='focus_text'>
        <span id='focus_current'>Current focus:</span>
        <span id='focus_h'>{{ site.data.status.focus }}</span>
      </figure>
    </div>

    <ul id='focus_legend'>
      <li class='focus_interests'>
        <h3 class='h_leader'>Main Fields of Interest:</h3>&nbsp<span>programming, linguistics, economics, behaviour fundamentals, <a id='anime' href="{{ site.data.links.MAL }}">anime girls</a></span>
      </li>
      <li class='focus_interests'>
        <h3 class='h_leader'>Specializations:</h3>&nbsp<span>development, back-end, python</span>
      </li>
      <li class='focus_interests'>
        <h3 class='h_leader'>Guild:</h3>&nbsp<span>{{ site.data.status.status }}</span>
      </li>
    </ul>
  </secrion>

</header>
