<header id='index_header'>
  <figure id='index_photos'>
    <img src="/assets/images/photo_1.jpg" alt="my photo 1">
    <img src="/assets/images/photo_2.jpg" alt="my photo 2">
  </figure>

  <figure id='focus_figure'>
    <div id='focus_picture'>
      <div id='focus_gearwheels'>
        <img src="/assets/images/gearwheels.gif" alt="gearwheels">
      </div>

      <div id='focus_text'>
        <h1 id='focus_current'>Current focus:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1>
        <h2 id='focus_h'>&nbsp {{ site.data.status.focus }} &nbsp</h2>
      </div>
    </div>
    
    <figcaption id='focus_figcaption'>
      <h3 id='focus_interests'><span class='h_leader'>Main Fields of Interest:</span> programming, linguistics, economics, psychology & behaviour fundamentals, <a href="{{ site.data.links.MAL }}">anime girls</a></h3>
      <h4 class='focus_specials'><span class='h_leader'>Specializations:</span> development, back-end, python</h4>
      <h4 class='focus_specials'><span class='h_leader'>Status:</span> {{ site.data.status.status }}</h4>
    </figcaption> 
  </figure>
</header>
