<table>
  {% for category in block.category %}
    <thead class='stats_thead'>
      <tr>
        <th class='h_leader'>{{ category.name }}</th>
      </tr>
    </thead>

    <tbody class='stats_tbody'>
      {% for item in category.items %}

        <tr class='stats_tr'>
          <td>
            {{ item.name }}&nbsp
          </td>

          <td>
            {% if block.name == 'attributes' and item.name == 'Speed' %}
              <img id='speed' src="/assets/images/slowpoke.png" alt="slowpoke">

            {% elsif block.name == 'attributes' and item.name == 'Intelligence' %}
              <span class='lvl_attribute' id='strongest'>{{ item.level }}</span>

            {% elsif block.name == 'attributes' and item.name == 'Personality' %}
              <small class='lvl_txt'>{{ item.level }}</small>

            {% elsif block.name == 'attributes' %}
              <small class='lvl_attribute'>{{ item.level }}</small>

            {% elsif item.level == 1 %}
              <small class='lvl'>(1/4)</small>
              <small class='lvl_txt'>familiar</small>

            {% elsif item.level == 2 %}
              <small class='lvl'>(2/4)</small>
              <small class='lvl_txt'>able</small>

            {% elsif item.level == 3 %}
              <small class='lvl'>(3/4)</small>
              <small class='lvl_txt'>confident</small>

            {% elsif item.level == 4 %}
              <small class='lvl'>(4/4)</small>
              <small class='lvl_txt'>skilled</small>

            {% endif %}
          </td>
        </tr>

      {% endfor %}
    </tbody>

  {% endfor %}
</table>
