<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=divice-width, initial-scale=1.0'>
    <title>{{ page.title }}</title>
    <link rel='stylesheet' href="/assets/css/styles.css">
    <link rel='shortcut icon' type='image/png' href="/assets/images/favicon.ico"/>
    {% feed_meta %}
    {% seo %}
  </head>
  
  <body>

    <div id='main_body'>
      {% include /default/hat.html %}

      <main id='index_main'>
        {{ content }}
      </main>
      
      {% include /default/footer.html %}
    </div>

  </body>

</html>
